@model Amirhome.Models.State

@{
    List<Amirhome.Models.Feature> ftrs = ViewData["Features"] as List<Amirhome.Models.Feature>;
    List<Amirhome.Models.Image> images = Model.Images.ToList();
    
}

<div id="form_target">

    @using (Html.BeginForm("SubmitEditEstate", "Estate", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <h2>ویرایش ملک</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.OwnerID)
            @Html.HiddenFor(model => model.Flooring)
            @Html.HiddenFor(model => model.Archived)
            @Html.HiddenFor(model => model.Approved)
            @Html.HiddenFor(model => model.Date)
            @Html.HiddenFor(model => model.Description)
            @Html.HiddenFor(model => model.District1)
            @Html.HiddenFor(model => model.Features)
            @Html.HiddenFor(model => model.Feedbacks)
            @Html.HiddenFor(model => model.GoogleMaps)
            @Html.HiddenFor(model => model.Docsituation)
            @Html.HiddenFor(model => model.Infosource)
            @Html.HiddenFor(model => model.AllUnits)
            @Html.HiddenFor(model => model.Owner.ID)
            @Html.HiddenFor(model => model.Privacy)
            @Html.HiddenFor(model => model.StateType1)
            @Html.HiddenFor(model => model.province1)

            <label>کد ملک:&nbsp;&nbsp;</label>@Html.TextBoxFor(M => M.Serial, new { @class = "form-control", @readonly = "readonly" })
            <br />
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">نام مالک</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Owner.Name, new { @class = "form-control", @onfocus = "$(this).select();" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">ایمیل مالک</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Owner.Email, new { @class = "form-control", @onfocus = "$(this).select();" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">موبایل مالک</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Owner.Mobile, new { @style = "margin-bottom: 5px;", @class = "form-control", @onfocus = "$(this).select();" })
                        @Html.TextBoxFor(m => m.Owner.Mobile2, new { @class = "form-control", @onfocus = "$(this).select();" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">شهر</label>
                    <div class="col-md-9">
                        @Html.DropDownList("City", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">نوع ملک</label>
                    <div class="col-md-9">
                        @Html.DropDownList("StateType", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">موقعیت ملک</label>
                    <div class="col-md-9">
                        @Html.DropDownList("StatePosition", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">واگذاری ملک</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Condition", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">آدرس ملک</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">متراژ</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Area, new { @class = "form-control number-type" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">متراژ تراس</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Terrace, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">قیمت هر متر</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.PricePerMeter, new { @class = "form-control number-type" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">قیمت کل</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.TotalPrice, new { @class = "form-control number-type" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">نما</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Facing", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">وضعیت سکونت</label>
                    <div class="col-md-9">
                        @Html.DropDownList("CurrentStatus", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">تعداد خواب</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Bedrooms, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">تعداد سرویس</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Bathrooms, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">طبقه</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Floor", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">واحد در طبقه</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Units", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">مشاور</label>
                    <div class="col-md-9">
                        @Html.DropDownList("AgentID", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">مورد ویژه </label>
                    <div class="col-md-9">
                        @Html.EditorFor(M => M.OccasionFlag)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">وضعیت سند</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Docsituation, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">تلفن مالک</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Owner.Telephone, new { @style = "margin-bottom: 5px;", @class = "form-control", @onfocus = "$(this).select();" })
                        @Html.TextBoxFor(m => m.Owner.Tell2, new { @class = "form-control", @onfocus = "$(this).select();" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">آدرس مالک</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Owner.Address, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">استان</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Province", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">محله</label>
                    <div class="col-md-9">
                        @Html.DropDownList("District", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">منطقه</label>
                    <div class="col-md-9">
                        <select name="Region" id="Region" class="form-control">
                            <option value="0">منطقه</option>
                            @for (int i = 1; i <= 22; i++)
                            {
                                if (Model.Region == i.ToString())
                                {
                                    <option selected="selected" value="@i">منطقه @i</option>
                                }
                                else
                                {
                                    <option value="@i">منطقه @i</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">کاربری ملک</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Usage", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">کوچه، پلاک و واحد</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.DetailedAddress, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">طول بر</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Length, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">مساحت کل</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Width, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">متراژ اصلاحی</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Reformative, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">قیمت اجاره</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.MortgagePrice, new { @class = "form-control  number-type" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">پیش پرداخت</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.PrepaymentPrice, new { @class = "form-control number-type" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">قابل تبدیل</label>
                    <div class="col-md-9">
                        @Html.CheckBox("Changeable", Model.Changeable.HasValue ? Model.Changeable.Value : false, new { @style = "maegin-top:5px;" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">کابینت</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Cabinet", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">سن بنا</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">تعداد پارکینگ</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Parking, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">تعداد تلفن</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Tells, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">تعداد طبقات ساختمان</label>
                    <div class="col-md-9">
                        @Html.DropDownList("Floors", null, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">تنظیم کننده</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Adjuster, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">منبع</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Infosource, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">توضیحات موارد ویژه</label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(M => M.Occasion, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>عکس های داخل ساختمان</h3>
                    <table>
                        @for (int i = 0; i < Model.Images.Count(); i = i + 4)
                        {
                            <tr>
                                @for (int j = i; j < i + 4 && j < Model.Images.Count(); j++)
                                {
                                    <td>
                                        <a href="www.amirhome.ir/Content/estate_images/@images[j].url" target="_blank"><img src="~/Content/estate_images/@images[j].url" style="width:50%;" /></a>
                                        <br />
                                        <input type="checkbox" name="img_ids" value="@images[j].ID" checked="checked" />
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-3">اضافه کردن عکس</div>
                        <div class="col-md-9">
                            <input type="file" name="added_image" />
                            <a href="javascript:void(0)" onclick="$(this).before($('<input>').attr({ 'type': 'file', 'name': 'added_image' }));">عکس بیشتر</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <h3>عکس های نمای خیابان</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="file" name="added_street_image" />
                            @*<a href="javascript:void(0)" onclick="$(this).before($('<input>').attr({ 'type': 'file', 'name': 'added_street_image' }));">عکس بیشتر</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>عکس های نقشه ساختمان</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="file" name="added_plan_image" />
                            @*<a href="javascript:void(0)" onclick="$(this).before($('<input>').attr({ 'type': 'file', 'name': 'added_plan_image' }));">عکس بیشتر</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
       
            <div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <button type="submit" value="ذخیره" class="btn btn-primary" id="form-submit-btn" onclick="fix_input_formats(); return true;" style="min-width:100px;">ذخیره</button>
                    <p id="server-message"></p>
                </div>
            </div>
        </div>
    }
</div>
