@model List<Amirhome.Models.State>

@using Amirhome.CustomHelpers

@{
    string role_id = ViewData["user_role_id"].ToString();
    int page = (Model.Count / 10) + 1;
    string command = ViewData["command"].ToString();
}

<style>
    .input-group-btn {
        display: inline;
        float: right;
        white-space: nowrap;
    }
</style>

<h1>@ViewData["title"].ToString()</h1>
<hr />

<div class="input-group">
    <label style="font-weight:normal; font-size:15px;">جــستجو بر اسـاس کد ملـک</label>&nbsp;
    <input id="serial-input" class="form-control" type="text" placeholder="کد ملک...">
    <span class="input-group-btn">
        <button id="serial-search" class="btn btn-primary" onclick="render_content('@command' , 1)"><i class="glyphicon glyphicon-search"></i></button>
    </span>
</div>
<br />

<table class="estate-table-view" border="1">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>تاریخ ثبت</th>
            <th>محله</th>
            <th>تعداد خواب</th>
            <th>متراژ (متر مربع)</th>
            <th>قیمت کل / رهن</th>
            <th>قیمت هر متر / اجاره</th>
            <th>کد ملک</th>
        </tr>
    </thead>
    <tbody class="search-table-body">
        @for (int i = 0; i < Model.Count; i++ )
        {
            <tr data-approved="@Model[i].Approved" data-estateid="@Model[i].ID">
                <td>@Html.turnToPersianNumber((i+1).ToString())</td>
                <td>@Html.gregorianToJalali(Model[i].Date.ToString().Split(' ')[0])</td>
                <td>@Model[i].District1.name</td>
                <td>@Html.turnToPersianNumber(Model[i].Bedrooms)</td>
                <td>@Html.turnToPersianNumber(Model[i].Area.ToString())</td>
                <td>@Html.SplitInParts((Model[i].Condition == "فروش") ? Model[i].TotalPrice.ToString() : Model[i].PrepaymentPrice.ToString(), 3)</td>
                <td>@Html.SplitInParts((Model[i].Condition == "فروش") ? Model[i].PricePerMeter.ToString() : Model[i].MortgagePrice.ToString(), 3)</td>
                <td>@Html.turnToPersianNumber(Model[i].Serial.ToString())</td>
                @{
                    if (!Model[i].Approved.Value)
                    {
                        <td><button class="btn btn-primary" data-flag="true" onclick="approve_estate(@Model[i].ID, this)">تأیید</button></td>
                    }
                    else
                    {
                        <td><button class="btn btn-warning" data-flag="false" onclick="approve_estate(@Model[i].ID, this)">رد</button></td>
                    }
                }
                @{
                    if (role_id == "1" || role_id == "2")
                    {
                        if (!Model[i].Archived.Value)
                        {
                            <td><button class="btn btn-primary" data-flag="true" onclick="archive_estate(@Model[i].ID , this)">بایگانی</button></td>
                        }
                        else
                        {
                            <td><button class="btn btn-warning" data-flag="false" onclick="archive_estate(@Model[i].ID , this)">احیا</button></td>
                        }
                    }
                }
                <td><button class="btn btn-success" onclick="edit_estate(@Model[i].ID);">ویرایش</button></td>
                <td><button class="btn btn-danger" onclick="delete_estate(@Model[i].ID , this);">حذف</button></td>
            </tr>
        }
    </tbody>
</table>

<div class="row text-center">
    <br />
    <button class="btn btn-primary" onclick="render_content('@command' , @page)">مشاهده بیشتر</button>
</div>