
@{
    ViewBag.Title = "مشاهده جزئیات ملک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Amirhome.Models.State

<link rel="stylesheet" href="~/Content/EstateDetailsStyle.css" />

<div class="container body-content">
    <div class="row details" style="padding:30px;">
        <div class="col-md-6 col">
            <div class="row items text-center fade-animate">
                <div class="col-md-3"><a href="javascript:void()"><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;ملک قبلی</a></div>
                <div class="col-md-3"><a href="javascript:void()"><i class="glyphicon glyphicon-envelope"></i>&nbsp;ارسال</a></div>
                <div class="col-md-3"><a href="javascript:void()"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;گزارش خرابی</a></div>
                <div class="col-md-3"><a href="javascript:void()"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;ملک بعدی</a></div>
            </div>
            <br />
            <div class="content fade-animate">
                <div class="text-center caption">مشخصات ملک</div>
                <div class="inner_content">
                    <table class="detailTbl" border="1">
                        <tr>
                            <td class="title-cell">
                                آدرس
                            </td>
                            <td colspan="3" style="font-weight:bold">
                                @Model.Address
                            </td>
                        </tr>
                        <tr>
                            <td class="title-cell">
                                قیمت کل
                            </td>
                            <td colspan="3" class="red price">
                                @Model.TotalPrice
                            </td>
                        </tr>
                        <tr>
                            <td class="title-cell">
                                قیمت هر متر
                            </td>
                            <td colspan="3" class="red price">
                                @Model.PricePerMeter
                            </td>
                        </tr>
                        <tr>
                            <td class="title-cell">
                                نوع کاربری ملک
                            </td>
                            <td>
                                @Model.Usage
                            </td>
                            <td class="title-cell">
                                نوع ملک
                            </td>
                            <td>
                                @Model.StateType1.types
                            </td>
                        </tr>
                        <tr>
                            <td class="title-cell">
                                متراژ
                            </td>
                            <td class="number">
                                @Model.Area متر مربع
                            </td>
                            <td class="title-cell">
                                سن بنا
                            </td>
                            <td class="number">
                                @{  if (Model.Age == 0)
                                  {
                                    <label>نوساز</label>
                                  }
                                  else
                                  {
                                    <label class="number">@Model.Age ساله</label>
                                  }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="title-cell">
                                تعدد اتاق خواب
                            </td>
                            <td class="number">
                                @Model.Bedrooms
                            </td>
                            <td class="title-cell">
                                طبقه
                            </td>
                            <td>
                                @Model.Floor
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div class="row extra-info">
                        <div class="col-md-4">
                            @{
                                if (Model.Images.FirstOrDefault(i => i.Primary == true) == null)
                                {
                                    <img class="thumb-img" src='/Content/estate_images/no-thumb.png' />
                                }
                                else
                                {
                                    <img class="thumb-img" src='@string.Format("/Content/estate_images/{0}", Model.Images.FirstOrDefault(i => i.Primary == true).url)' />
                                    <label class="img-count number">مشاهده @Model.Images.Count عکس</label>
                                }
                            }
                        </div>
                        <div class="col-md-8">
                            <h4 class="red-title">امکانات</h4>
                            @{
                                foreach (var item in Model.Features)
                                {
                                    <label class="tag">@item.Item</label>
                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <h3 style="margin-right:10px; font-size:19px;">سایر مشخصات ملک</h3>
                        <table class="other-features" border="1">
                            <tr class="title">
                                <td>تعداد طبقات</td>
                                <td>تعداد واحد</td>
                                <td>کابینت</td>
                                <td>پارکینگ</td>
                                <td>خط تلفن</td>
                            </tr>
                            <tr>
                                <td class="number">@Model.Floors</td>
                                <td class="number">@Model.Units</td>
                                <td>@Model.Cabinet</td>
                                <td class="number">@Model.Parking</td>
                                <td class="number">@Model.Tells</td>
                            </tr>
                            <tr class="title">
                                <td>سرویس بهداشتی</td>
                                <td>نما</td>
                                <td>کفپوش</td>
                                <td>موقعیت</td>
                                <td>وضعیت فعلی</td>
                            </tr>
                            <tr>
                                <td class="number">@Model.Bathrooms</td>
                                <td>@Model.Facing</td>
                                <td>@Model.Flooring</td>
                                <td>@Model.StatePosition</td>
                                <td class="number">@Model.CurrentStatus</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <ul class="nav nav-tabs fade-animate">
                <li class="active"><a data-toggle="tab" href="#googleMap">نقشه گوگل</a></li>
                <li><a data-toggle="tab" href="#street">نمای خیابان</a></li>
                <li><a data-toggle="tab" href="#plan">نقشه ساختمان</a></li>
            </ul>
            <div class="tab-content fade-animate">
                <div id="googleMap" class="tab-pane fade active">
                </div>
                <div id="street" class="tab-pane fade">
                    @{
                        if (Model.StreetViews.FirstOrDefault() == null)
                        {

                        }
                        else
                        {
                            <img class="thumb-img" src='@string.Format("/Content/estate_images/{0}", Model.StreetViews.FirstOrDefault().url)' />
                        }
                    }
                </div>
                <div id="plan" class="tab-pane fade">
                    @{
                        if (Model.Plans.FirstOrDefault() == null)
                        {

                        }
                        else
                        {
                            <img class="thumb-img" src='@string.Format("/Content/estate_images/{0}", Model.Plans.FirstOrDefault().url)' />
                        }
                    }
                </div>
            </div>

        </div>
        <div class="col-md-5 col">
            <div class="content left fade-animate">
                <div class="text-center caption">اطلاعات تماس</div>
                <div class="inner_content">
                    <img class="agent_img" src="~/Content/shared_images/logo3.png" />
                    <span>کد ملک: </span><label class="number">@Model.Serial</label><br />
                    <span>نام مالک: </span><label class="number">@Model.Owner.Name</label><br />
                    <span>نام مشاور: </span><label class="number">علی عبدی</label><br />
                    <span>تلفن: </span><label class="number">@Model.Owner.Telephone - @Model.Owner.Tell2</label><br />
                    <span>ایمیل: </span><label class="number">@Model.Owner.Email</label><br />
                </div>
            </div>
            <br />
            <div class="content left fade-animate">
                <div class="text-center caption">ارسال نظرات</div>
                <div style="background-color:white;">
                    <p style="font-size:small; padding:10px 20px 0 20px">هرگونه نظر یا سوال در رابطه با اطلاعات این ملک را می توانید از طریق فرم زیر با ما در میان بگذارید</p>
                    <form id="feedbackForm" class="feedback">
                        <table>
                            <tr>
                                <td class="fblabel"><label>نام و نام خانوادگی</label></td>
                                <td><input id="fb_name" type="text" /></td>
                            </tr>
                            <tr>
                                <td class="fblabel"><label>شماره تماس</label></td>
                                <td><input id="fb_phone" type="text" /></td>
                            </tr>
                            <tr>
                                <td class="fblabel"><label>ایمیل</label> </td>
                                <td><input id="fb_email" type="text" /></td>
                            </tr>
                            <tr>
                                <td class="fblabel"><label>متن پیام</label></td>
                                <td><textarea id="fb_text"></textarea></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>*@

    <script type="text/javascript">

        /*var initLatlng = new google.maps.LatLng(35.688045, 51.392884);
        var geocoder = new google.maps.Geocoder();
        var infowindow = new google.maps.InfoWindow();*/
        $(document).ready(function () {
            $(".fade-animate").each(function (index) {
                $(this).delay(index * 300).fadeTo(1000, 1);
            })
        });

        /*function initializeMap(laglng) {
            var mapOptions = {
                zoom: 12,
                center: laglng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

            marker = new google.maps.Marker({
                map: map,
                position: laglng,
                draggable: true
            });

            geocoder.geocode({ 'latLng': laglng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        //$('#address').val(results[0].formatted_address);
                        infowindow.setContent(results[0].formatted_address);
                        infowindow.open(map, marker);
                    }
                }
            });
        }*/
    </script>
}



