
@{
    ViewBag.Title = "موارد ویژه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Amirhome.CustomHelpers
@model List<Amirhome.Models.State>

<style>
    .occasion .occasion-desc{
        width:79% !important;
    }
</style>

<div class="container body-content">
    <h2 style="text-align:center;">موارد ویژه</h2>
    <hr />
    <br />
    @for (int i = 0; i < Model.Count; i = i + 4)
    {
        <div class="occasion row">
            @for (int j = i; j < i + 4 && j < Model.Count; j++)
            {
                <div class="col-md-3" style="">
                    <a href="/Estate/EstateDetails?EstateID=@Model[j].ID">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <label>@Model[j].Condition - @Html.turnToPersianNumber(Model[j].Area.ToString()) متری</label>
                                <h3 style="white-space: nowrap;">@Model[j].District1.name</h3>
                            </div>
                            <div class="panel-body">
                                <div class="occasion-desc" style="display: none;">
                                    <p>@Html.turnToPersianNumber(@Model[j].Occasion)</p>
                                </div>
                                <img src='@string.Format("/Content/estate_images/{0}", Model[j].Images.Count > 0 ? Model[j].Images.First().url : "no-thumb.png")' />
                                <div class="img-count">@Model[j].Images.Count عکس</div>
                            </div>
                            <div class="panel-footer">
                                @if (Model[j].Condition == "فروش")
                                {
                                    <p class="main-price">قیمت کل: @Html.SplitInParts(Model[j].TotalPrice.ToString(), 3) </p>
                                    <p class="second-price">قیمت متری:  @Html.SplitInParts(Model[j].PricePerMeter.ToString(), 3) </p>
                                }
                                else
                                {
                                    <p class="main-price">پیش پرداخت: @Html.SplitInParts(Model[j].PrepaymentPrice.ToString(), 3)</p>
                                    <p class="second-price">قیمت اجاره:  @Html.SplitInParts(Model[j].MortgagePrice.ToString(), 3)</p>
                                }
                                <p class="date">@Html.gregorianToJalali(Model[j].Date.ToString().Split(' ')[0])</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }

</div>

@section scripts{
    <script type="text/javascript">
        $(".occasion .panel").hover(function () {
            $(this).find('.occasion-desc').fadeIn(450);
        }, function () {
            $(this).find('.occasion-desc').fadeOut(450);
        });
    </script>
}

