
@{
    ViewBag.Title = "ShowOccasions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Amirhome.CustomHelpers
@model List<Amirhome.Models.State>

<div class="container body-content">
    <h2 style="text-align:center;">موارد ویژه</h2>
    <hr />
    <br />
    @for (int i = 0; i < Model.Count; i = i + 4)
    {
        <div class="occasion row">
            @for (int j = i; j < i + 4 && j < Model.Count; j++)
            {
                <div class="col-md-3" style="">
                    <a href="/Estate/EstateDetails?EstateID=@Model[j].ID">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <label>@Model[j].Condition - @Model[j].Area متری</label>
                                <h3 style="white-space: nowrap;">@Model[j].District1.name</h3>
                            </div>
                            <div class="panel-body">
                                <div class="occasion-desc" style="display: none;">
                                    <p>@Model[j].Occasion</p>
                                </div>
                                <img src='@string.Format("/Content/estate_images/{0}", Model[j].Images.Count > 0 ? Model[j].Images.First().url : "no-thumb.png")' />
                                <div class="img-count">@Model[j].Images.Count عکس</div>
                            </div>
                            <div class="panel-footer">
                                <p class="main-price">قیمت کل: @Model[j].TotalPrice تومان</p>
                                <p class="second-price"> </p>
                                <p class="date">@Model[j].Date </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }

</div>

@section scripts{
    <script type="text/javascript">
        $(".occasion .panel").hover(function () {
            $(this).find('.occasion-desc').fadeIn(450);
        }, function () {
            $(this).find('.occasion-desc').fadeOut(450);
        });
    </script>
}

