
@{
    ViewBag.Title = "SubmitEstate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Amirhome.Models.State

@{
    List<Amirhome.Models.Feature> ftrs = ViewData["Features"] as List<Amirhome.Models.Feature>;
    List<Amirhome.Models.province> prv = ViewData["Province"] as List<Amirhome.Models.province>;
}

<link rel="stylesheet" href="~/Content/SubmitEstateStyle.css" />

<div class="container body-content">
    <h1>سپردن ملک</h1>
    <hr />
    <form action="/Estate/SubmitEstate" method="post" enctype="multipart/form-data">
        <ul class="submit-wizard">
            <li class="active" data-step="0">
                <div class="wizard-heading">
                    ۱ - مشخصات مالک
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="wizard-content">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 left">
                            <label>نام و نام خانوادگی *</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Owner.Name, new { @class="required form-control" })
                        </div>
                        <div class="col-md-2 left">
                            <label>پست الکترونیک</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Owner.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2  left">
                            <label>شماره تلفن همراه *</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Owner.Mobile, new { @style = "margin-bottom: 5px;", @class = "required form-control" })
                            @Html.TextBoxFor(m => m.Owner.Mobile2, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2  left">
                            <label>شماره تلفن ثابت</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Owner.Telephone, new { @style = "margin-bottom: 5px;", @class = "form-control" })
                            @Html.TextBoxFor(m => m.Owner.Tell2, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2  left">
                            <label>آدرس منزل</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Owner.Address, new { @class="long-input form-control" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <button class="btn-green done" type="submit" onclick="return false;">تأیید و ادامه</button>
                </div>
            </li>
            <li data-step="1">
                <div class="wizard-heading">
                    ۲- مشخصات کلی ملک
                    <span class="glyphicon glyphicon-home"></span>
                </div>
                <div class="wizard-content">
                    <div class="content">
                        <div class="text-center caption">مشخصات مکانی و تملکی</div>
                        <div class="inner_content">
                            <div class="row" style="margin-bottom:3px;">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>استان *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Province" id="Province" class="form-control required">
                                                @foreach (var item in prv)
                                                {
                                                    <option value="@item.id">@item.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>منطقه</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Region" id="Region" class="form-control">
                                                <option value="0">منطقه</option>
                                                @for (int i = 1; i <= 22; i++)
                                            {
                                                <option value="@i">منطقه @i</option>
                                            }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>نوع ملک *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="StateType" id="StateType" class="form-control required">
                                                <option value="1">آپارتمان</option>
                                                <option value="2">ویلا</option>
                                                <option value="8">سوئیت</option>
                                                <option value="9">سایر</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>موقعیت</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="StatePosition" id="StatePosition" class="form-control">
                                                <option selected="selected" value="شمالی">شمالی</option>
                                                <option value="جنوبی">جنوبی</option>
                                                <option value="شرقی">شرقی</option>
                                                <option value="غربی">غربی</option>
                                                <option value="شمالی شرقی">شمالی شرقی</option>
                                                <option value="شمالی غربی">شمالی غربی</option>
                                                <option value="جنوبی شرقی">جنوبی شرقی</option>
                                                <option value="جنوبی غربی">جنوبی غربی</option>
                                                <option value="دونبش">دونبش</option>
                                                <option value="دوبر">دوبر</option>
                                                <option value="سایر">سایر</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>شهر *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="City" id="City" class="form-control required">
                                                <option value="0">شهر</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>محله</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="District" id="District" class="form-control">
                                                <option value="0">محله</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>نوع کاربری ملک *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Usage" id="Usage" class="form-control required">
                                                <option selected="selected" value="مسکونی">مسکونی</option>
                                                <option value="کلنگی و مشارکتی">کلنگی و مشارکتی</option>
                                                <option value="تجاری و اداری">تجاری و اداری</option>
                                                <option value="سایر">سایر</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>نوع واگذاری ملک *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Condition" id="Condition" class="form-control required">
                                                <option selected="selected" value="فروش">فروش</option>
                                                <option value="رهن">رهن</option>
                                                <option value="اجاره">اجاره</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row form-group">
                                        <div class="col-md-4 left"><label>خیابان اصلی و فرعی *</label></div>
                                        <div class="col-md-8 ">
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left"><label>کوچه، پلاک و واحد *</label></div>
                                        <div class="col-md-8 ">
                                            @Html.TextBoxFor(m => m.DetailedAddress, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="content">
                        <div class="text-center caption">قیمت و متراژ</div>
                        <div class="inner_content">
                            <div class="row" style="margin-bottom:3px;">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>متراژ *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control number-type required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>طول بر</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Length, new { @class = "form-control number-type" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>متراژ تراس</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Terrace, new { @class = "form-control number-type" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>مساحت کل</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Width, new { @class = "form-control number-type" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>متراژ اصلاحی</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Reformative, new { @class = "form-control number-type" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:3px;">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>قیمت هر متر *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.PricePerMeter, new { @class = "form-control number-type required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>قیمت اجاره *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.MortgagePrice, new { @disabled = "disabled", @class = "form-control number-type required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                        </div>
                                        <div class="col-md-8">
                                            <label><input type="checkbox" style="margin:2px;  width: 6%;" name="Changable" id="Changable" disabled="disabled"> قابل تبدیل</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>قیمت کل *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.TotalPrice, new { @class = "form-control number-type required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>پیش پرداخت *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.PrepaymentPrice, new { @disabled = "disabled", @class = "form-control number-type required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="content">
                        <div class="text-center caption">ظاهر و امکانات</div>
                        <div class="inner_content">
                            <div class="row" style="margin-bottom:3px;">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>نما</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Facing" id="Facing" class="form-control">
                                                <option selected="selected" value="کنیتکس">کنیتکس</option>
                                                <option value="سفال">سفال</option>
                                                <option value="سنگ">سنگ</option>
                                                <option value="رومی">رومی</option>
                                                <option value="تراورتن">تراورتن</option>
                                                <option value="سنگ و سفال">سنگ و سفال</option>
                                                <option value="رومی و سفال">رومی و سفال</option>
                                                <option value="سرامیک">سرامیک</option>
                                                <option value="سفال سرامیک">سفال سرامیک</option>
                                                <option value="گرانیت">گرانیت</option>
                                                <option value="ومی گرانیت">رومی گرانیت</option>
                                                <option value="آجرگری">آجرگری</option>
                                                <option value="سیمان سفید">سیمان سفید</option>
                                                <option value="آجر و سنگ">آجر و سنگ</option>
                                                <option value="آلومینیوم">آلومینیوم</option>
                                                <option value="ترکیبی">ترکیبی</option>
                                                <option value="چوب و سنگ">چوب و سنگ</option>
                                                <option value="آجر سه سانت">آجر سه سانت</option>
                                                <option value="کامپوزیت">کامپوزیت</option>
                                                <option value="شیشه">شیشه</option>
                                                <option value="شیشه و سنگ">شیشه و سنگ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>نوع کابینت</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Cabinet" id="Cabinet" class="form-control">
                                                <option selected="selected" value="فلزی">فلزی</option>
                                                <option value="چوبی">چوبی</option>
                                                <option value="چوب و فلز">چوب و فلز</option>
                                                <option value="های گلس">های گلس</option>
                                                <option value="MDF">MDF</option>
                                                <option value="سایر">سایر</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>کفپوش</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Flooring" id="Flooring" class="form-control">
                                                <option selected="selected" value="سنگ">سنگ</option>
                                                <option value="سرامیک">سرامیک</option>
                                                <option value="گرانیت">گرانیت</option>
                                                <option value="لمینت">لمینت</option>
                                                <option value="پارکت">پارکت</option>
                                                <option value="موکت">موکت</option>
                                                <option value="موزاییک">موزاییک</option>
                                                <option value="سرامیک و موزاییک">سرامیک و موزاییک</option>
                                                <option value="موکت و موزاییک">موکت و موزاییک</option>
                                                <option value="موکت و سنگ">موکت و سنگ</option>
                                                <option value="سیمان">سیمان</option>
                                                <option value="تک سرام">تک سرام</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>وضعیت سکونت</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="CurrentStatus" id="CurrentStatus" class="form-control">
                                                <option selected="selected" value="تخلیه">تخلیه</option>
                                                <option value="مسکونی مالک">مسکونی مالک</option>
                                                <option value="اجاره">اجاره</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:3px;">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>سن بنا *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Age, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>تعداد اتاق خواب *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Bedrooms, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>تعداد پارکینگ *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Parking, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>تعداد سرویس بهداشتی</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Bathrooms, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>تعداد خط تلفن</lable>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Tells, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:3px;">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>طبقه *</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Floor" id="Floor" class="form-control required">
                                                <option selected="selected" value="زیرزمین">زیرزمین</option>
                                                <option value="پیلوت">پیلوت</option>
                                                <option value="همکف">همکف</option>
                                                <option value="طبقه اول">طبقه اول</option>
                                                <option value="طبقه دوم">طبقه دوم</option>
                                                <option value="طبقه سوم">طبقه سوم</option>
                                                <option value="طبقه چهارم">طبقه چهارم</option>
                                                <option value="طبقه پنجم">طبقه پنجم</option>
                                                <option value="طبقه ششم">طبقه ششم</option>
                                                <option value="طبقه هفتم تا دهم">طبقه هقتم تا دهم</option>
                                                <option value="طبقه دهم به بالا">طبقه دهم به بالا</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>تعداد طبقات ساختمان</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Floors" id="Floors" class="form-control">
                                                <option selected="selected" value="یک طبقه">یک طبقه</option>
                                                <option value="دو طبقه">دو طبقه</option>
                                                <option value="سه طبقه">سه طبقه</option>
                                                <option value="چهار طبقه">چهار طبقه</option>
                                                <option value="پنج طبقه">پنج طبقه</option>
                                                <option value="شش طبقه">شش طبقه</option>
                                                <option value="هفت تا ده طبقه">هفت تا ده طبقه</option>
                                                <option value="ده تا بیست طبقه">ده تا بیست طبقه</option>
                                                <option value="بیش از بیست طبقه">بیش از بیست طبقه</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col-md-4 left">
                                            <lable>تعداد واحد در طبقه</lable>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="Units" id="Units" class="form-control">
                                                <option selected="selected" value="تک واحدی">تک واحدی</option>
                                                <option value="دو واحدی">دو واحدی</option>
                                                <option value="سه واحدی">سه واحدی</option>
                                                <option value="چهار واحدی">چهار واحدی</option>
                                                <option value="بیش از چهار واحد در هر طبقه">بیش از چهار واحد در هر طبقه</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:3px;">
                                <table border="1" class="features-table">
                                    <tr>
                                        @for (int i = 0; i < 10; i++)
                                    {
                                        <td><label><input type="checkbox" name="features" value="@ftrs[i].ItemID" style="margin:2px;" />@ftrs[i].Item</label></td>
                                    }
                                    </tr>
                                    <tr>
                                        @for (int i = 10; i < 20; i++)
                                    {
                                        <td><label><input type="checkbox" name="features" value="@ftrs[i].ItemID" style="margin:2px;" />@ftrs[i].Item</label></td>
                                    }
                                    </tr>
                                    <tr>
                                        @for (int i = 20; i < 30; i++)
                                    {
                                        <td><label><input type="checkbox" name="features" value="@ftrs[i].ItemID" style="margin:2px;" />@ftrs[i].Item</label></td>
                                    }
                                    </tr>
                                    <tr>
                                        @for (int i = 30; i < 36; i++)
                                    {
                                        <td><label><input type="checkbox" name="features" value="@ftrs[i].ItemID" style="margin:2px;" />@ftrs[i].Item</label></td>
                                    }
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="btn-green done" type="button" onclick="return false;">تأیید و ادامه</button>
                </div>
            </li>
            <li>
                <div class="wizard-heading">
                    ۳ - افزودن عکس و نقشه
                    <span class="glyphicon glyphicon-picture"></span>
                </div>
                <div class="wizard-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="content" style="margin-bottom:5px;">
                                <div class="text-center caption">عکس از داخل ساختمان</div>
                                <div class="inner_content">
                                    <input type="file" name="main_image" accept=".jpg,.jpeg,.png"/>
                                    <a href="javascript:void(0)" onclick="add_main_img(this)" style="text-decoration:none; margin-top:5px;">+ عکس جدید</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="content" style="margin-bottom:5px;">
                                <div class="text-center caption">عکس از نقشه ساختمان</div>
                                <div class="inner_content">
                                    <input type="file" name="plan_image" accept=".jpg,.jpeg,.png" />
                                    <a href="javascript:void(0)" onclick="add_plan_img(this)" style="text-decoration:none; margin-top:5px;">+ عکس جدید</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="content" style="margin-bottom:5px;">
                                <div class="text-center caption">عکس از نمای خیابان</div>
                                <div class="inner_content">
                                    <input type="file" name="street_image" accept=".jpg,.jpeg,.png" />
                                    <a href="javascript:void(0)" onclick="add_street_img(this)" style="text-decoration:none; margin-top:5px;">+ عکس جدید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-green done" type="submit" onclick="return false;">تأیید و ادامه</button>
                </div>
            </li>
            <li>
                <div class="wizard-heading">
                    ۴ - ثبت نهایی
                    <span class="glyphicon glyphicon-check"></span>
                </div>
                <div class="wizard-content">
                    <div class="note">
                        <p class="text-info">مراحل ثبت ملک به اتمام رسید</p>
                        <p>اکنون با زدن دکمه ثبت نهایی، ملک شما در لیست ملک های سایت قرار خواهد گرفت.</p>
                        <p>در صورت تأیید اطلاعات ملک توسط کارشناسان مربوطه، ملک شما قابل مشاهده برای عموم خواهد بود.</p>
                    </div>
                    <button class="btn-green" type="submit" onclick="fix_input_formats(); return true;">ثبت نهایی</button>
                </div>
            </li>
        </ul>
    </form>
</div>

@section scripts{
    <script type="text/javascript">
        $(window).load(function () {
            $(".done").click(function () {
                var this_li_ind = $(this).parent().parent("li").index();
                var flag = validate_form(this_li_ind);
                if (!flag) {
                    return false;
                }
                if ($('.payment-wizard li').hasClass("jump-here")) {
                    $(this).parent().parent("li").removeClass("active").addClass("completed");
                    $(this).parent(".wizard-content").slideUp();
                    $('.payment-wizard li.jump-here').removeClass("jump-here");
                } else {
                    $(this).parent().parent("li").removeClass("active").addClass("completed");
                    $(this).parent(".wizard-content").slideUp();
                    $(this).parent().parent("li").next("li:not('.completed')").addClass('active').children('.wizard-content').slideDown();
                }
            });

            $('.submit-wizard li .wizard-heading').click(function () {
                if ($(this).parent().hasClass('completed')) {
                    var this_li_ind = $(this).parent("li").index();
                    var li_ind = $('.submit-wizard li.active').index();
                    if (this_li_ind < li_ind) {
                        $('.submit-wizard li.active').addClass("jump-here");
                    }
                    $(this).parent().addClass('active').removeClass('completed');
                    $(this).siblings('.wizard-content').slideDown();
                }
            });
        });

        function validate_form(index) {
            var flag = true;
            if (index === 0) {
                $("li[data-step=0] .required").each(function () {
                    if ($(this).val() === '') {
                        $(this).css('border', '2px solid red');
                        flag = false;
                    }
                    else {
                        $(this).css('border', '1px solid #cccccc');
                    }
                });
            }
            else if (index === 1) {
                $("li[data-step=1] .required").each(function () {
                    if (!$(this).is('[disabled]')) {
                        if ($(this).val() === '' || $(this).val() === '0') {
                            $(this).css('border', '2px solid red');
                            flag = false;
                        }
                        else {
                            $(this).css('border', '1px solid #cccccc');
                        }
                    }
                });
            }
            return flag;
        }

        function fix_input_formats() {
            $(".number-type").each(function () {
                var val = $(this).val().replace(/,/g, '');
                $(this).val(val);
            })
        }

        function add_main_img(elem) {
            $(elem).before('<input type="file" name="main_image" accept=".jpg,.jpeg,.png"/>');
        }
        function add_plan_img(elem) {
            $(elem).before('<input type="file" name="plan_image" accept=".jpg,.jpeg,.png"/>');
        }
        function add_street_img(elem) {
            $(elem).before('<input type="file" name="street_image" accept=".jpg,.jpeg,.png"/>');
        }

        $(document).ready(function () {
            $("#Province").change(function () {
                $.ajax({
                    url: '/Estate/fetchCities',
                    method: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({ "p_id": $(this).val() }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#City").html('');
                        for(var i = 0 ; i < data.length ; i++){
                            $("#City").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                    },
                    error: function () {

                    },
                });
            });

            $("#City").change(function () {
                if ($(this).val() === '118') {
                    $.ajax({
                        url: '/Estate/fetchDistricts',
                        method: 'POST',
                        dataType: 'json',
                        data: '',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#District").html('');
                            for (var i = 0 ; i < data.length ; i++) {
                                $("#District").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                            }
                        },
                        error: function () {

                        },
                    });
                }
                else {
                    $("#District").html('<option value="0">محله</option>');
                }
            });

            $("#Condition").change(function () {
                if ($(this).val() === 'فروش') {
                    $("#PrepaymentPrice").val('').attr("disabled", "disabled");
                    $("#MortgagePrice").val('').attr("disabled", "disabled");
                    $("#Changable").attr("disabled", "disabled");
                    $("#TotalPrice").val('').removeAttr("disabled");
                    $("#PricePerMeter").val('').removeAttr("disabled");
                }
                else {
                    $("#TotalPrice").val('').attr("disabled", "disabled");
                    $("#PricePerMeter").val('').attr("disabled", "disabled");
                    $("#PrepaymentPrice").val('').removeAttr("disabled");
                    $("#MortgagePrice").val('').removeAttr("disabled");
                    $("#Changable").removeAttr("disabled");
                }
            });

            $("body").on({
                keydown: function (e) {
                    if ((notInRange(e.keyCode, 48, 57) && notInRange(e.keyCode, 96, 105) && e.keyCode !== 8 && e.keyCode !== 9 && e.keyCode !== 46) || e.shiftKey) {
                        e.preventDefault();
                    }
                    return true;
                },
                focus: function () {
                    $(this).select();
                },
                keyup: function () {
                    var $self = $(this);
                    var new_val = $self.val().replace(/,/g, '');
                    $self.val(inputNumberWithCommasEnglish(new_val));
                },
                blur: function () {
                    var $self = $(this);
                    if ($self.attr('id') === 'PricePerMeter' || $self.attr('id') === 'Area') {
                        var ppm = $("#PricePerMeter").val().replace(/,/g, '');
                        var area = $("#Area").val().replace(/,/g, '');
                        var total = parseInt(ppm) * parseInt(area);
                        if (total)
                            $("#TotalPrice").val(inputNumberWithCommasEnglish(total));
                    }
                }
            }, ".number-type");
        });
    </script>
}
