<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="مشاوره برای خرید و فروش و اجاره و رهن ملک و آپارتمان در گیشا و سایر مناطق تهران ">
    <meta name="keywords" content="ملک ، املاک ، ساختمان ، مسکن ، آپارتمان ، خرید ، فروش ، رهن ، اجاره ، گیشا ،  تهران">
    <meta name="author" content="نماد توسعه آریا">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Plugins/select2/select2.css" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav cl-effect-21">
                    <li><a href="/#search">جستجوی ملک</a></li>
                    <li><a href="/#addvertise">آگهی</a></li>
                    <li><a href="/#about">درباره ما</a></li>
                    <li><a href="/#contact">تماس با ما</a></li>
                </ul>
                <a href="http://www.amirhome.ir" class="brand-image-link navbar-brand"><img src="~/Content/shared_images/logo1.png" /></a>
                <ul class="nav navbar-nav navbar-nav-left cl-effect-21">
                    @{
                        if (ViewData["user_name"] == null)
                        {
                            <li><a href="#loginModal" class="navbar-signin" data-toggle="modal" role="button"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;ورود</a></li>
                            <li><a href='@Url.Action("RegisterView", "Account")' class="navbar-register"><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;ثبت نام</a></li>
                        }
                        else
                        {
                            <li>
                                <a href='@Url.Action("EditAccountView", "Account")' style="text-align:left;">
                                    @*<img  src='@ViewData["user_image_src"].ToString()' style="width:10%"/>*@
                                &nbsp;
                                @ViewData["user_name"].ToString()
                            </a>
                        </li>
                            if (ViewData["user_role_id"] != null)
                            {
                                <li><a href='@Url.Action("ManagementPanel", "Estate")'><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;پنل مدیریت</a></li>
                            }
                            <li><a href='@Url.Action("SignOut", "Home")' class="navbar-signout"><i class="glyphicon glyphicon-new-window"></i>&nbsp;&nbsp;خروج</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()   
    <footer>
        <section id="contact">
            <div class="row blue">
                <h4 style="color:white;">
                    * اطلاعات موجود در این وب سایت اطلاعاتی است که از طریق کاربران عمومی سایت اعلام و ثبت شده و لذا وبسایت مسکن امیر هیچگونه مسئولیتی در صحت و سقم اطلاعات مذکور ندارد.
                </h4>
                <div class="col-md-4">
                    <h1><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;آدرس</h1>
                    <h4>شعبه مرکزی: گیشا، بین خیابان پنجم و هفتم، پلاک ۷۲</h4>
                    <h4>شعبه ۱: گیشا، نبش خیابان بیست و یکم، پلاک ۲۸۴</h4>
                </div>
                <div class="col-md-4">
                    <h1><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;پست الکترونیک</h1>
                    <h4>amir.home.ir@gmail.com</h4>
                </div>
                <div class="col-md-4">
                    <h1><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;شماره تماس</h1>
                    <h4>۰۲۱-۸۸۲۸۰۶۶۰</h4>
                    <h4>۰۲۱-۸۸۲۸۱۰۱۰</h4>
                </div>
                @*persianNumbers = ["۱", "۲", "۳", "۴", "۵", "۶", "۷", "۸", "۹", "۰"];*@
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="javascript:void(0)"><img src="~/Content/shared_images/Contacts.png" style="width:70%;" /></a>
                </div>
                <div class="col-md-3">
                    <a href="javascript:void(0)"><img src="~/Content/shared_images/Android.png" style="width:50%;" /></a>
                </div>
                <div class="col-md-3">
                    <a href="https://instagram.com/amir.home.ir"><img src="~/Content/shared_images/Instagram.png" style="width:70%;"/></a>
                </div>
                <div class="col-md-3">
                    <a href="https://telegram.me/amir_home"><img src="~/Content/shared_images/Telegram.png" style="width:70%;" /></a>
                </div>
            </div>
        </section>
        <div class="row">
            <p>Copyright 2015 © <a href="http://www.namaadarya.com">Namaade Tose'e Arya</a></p>
        </div>
    </footer>


    <div id="loginView">
        @Html.Partial("LoginPartialView")
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom_scripts")

    <script type="text/javascript" src="~/Plugins/select2/select2.js"></script>
    <script type="text/javascript" src="~/Plugins/rangeslider.js-2.2.1/rangeslider.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
