@model Amirhome.Models.FreeAdvertise
@using Amirhome.CustomHelpers;
@{
    ViewBag.Title = "جزئیات آگهی";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] imgs = string.IsNullOrEmpty(Model.image) ? new string[] { "no-thumb.png" } : Model.image.Split(';');
    string final_date = "";
    int difference = (int)(DateTime.Now - Model.create_date.Value).TotalDays;
    
    if(difference == 0)
    {
        final_date = "امروز";   
    }
    else if(difference == 1)
    {
        final_date = "دیروز";   
    }
    else if(difference == 2)
    {
        final_date = "دو روز پیش";   
    }
    else if(difference == 3)
    {
        final_date = "سه روز پیش";   
    }
    else if(difference == 4)
    {
        final_date = "چهار روز پیش";   
    }
    else if(difference >= 5 && difference <= 7)
    {
        final_date = "هفته گذشته";   
    }
    else if(difference > 7 && difference <= 14)
    {
        final_date = "دو هفته پیش";   
    }
    else
    {
        final_date = "بیش از دو هفته پیش";   
    }
}

<link rel="stylesheet" href="~/Plugins/JS Image Slider/js-image-slider.css" />
<div class="container body-content" style="min-height:560px;">
    <div class="row" style="padding:30px;">
        <div class="col-md-7">
            <div class="row big-title">
                <h4 style="font-size: 17px;">
                    <i class="glyphicon glyphicon-time"></i>&nbsp;
                    @if (string.IsNullOrEmpty(final_date))
                    {
                        <span>@Html.gregorianToJalali(Model.create_date.Value.ToString().Split(' ')[0])</span>
                    }
                    else
                    {
                        <span>@final_date</span>
                    }                
                </h4>
                <h1>@Html.turnToPersianNumber(Model.title)</h1>
                <h4>@Model.city - @Model.district</h4>
            </div>
            <hr />
            <div class="row" style="font-size:17px;">
                <span><i class=" glyphicon glyphicon-info-sign"></i>&nbsp; مشخصات <a href="javascript:void(0)" onclick="show_details(@Model.ID , this);"><u>(نمایش کامل مشخصات)</u></a></span>
                <br />
                <br />  
                    <div class="col-md-6">
                        <span>تلفن: </span> <strong id="phone">@Html.turnToPersianNumber(string.Concat(Model.phone.Substring(0, 3), "xxxxxxxx"))</strong><br />
                        <span>متراژ: </span> <strong>@Html.turnToPersianNumber(Model.area.ToString()) متر مربع</strong><br />
                        @if(Model.condition.Equals("فروش"))
                        {
                            <span>قیمت کل: </span> <strong>@Html.SplitInParts(Model.price_total.Value.ToString(), 3)</strong><br />
                        }
                        else
                        {
                            <span>قیمت رهن: </span> <strong>@Html.SplitInParts(Model.price_prepayment.Value.ToString(), 3)</strong><br />
                        }
                    </div>
                    <div class="col-md-6">
                        <span>ایمیل: </span> <strong id="email">xxxxxxx</strong><br />
                        <span>نوع واگذاری: </span> <strong>@Model.condition</strong><br />
                        @if (Model.condition.Equals("فروش"))
                        {
                            <span>قیمت متری: </span> <strong>@Html.SplitInParts(Model.price_per_meter.Value.ToString(), 3)</strong><br />
                        }
                        else
                        {
                            <span>قیمت اجاره: </span> <strong>@Html.SplitInParts(Model.price_mortage.Value.ToString(), 3)</strong><br />
                        }
                    </div>
            </div>
            <hr />
            <div class="row second-title">
                <span style="font-size: 17px;"><i class="glyphicon glyphicon-pushpin"></i>&nbsp; توضیحات</span>
                <div class="col-md-12">
                    <h4>@Html.turnToPersianNumber(Model.title2)</h4>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="sliderFrame">
                <div id="slider">
                    @foreach (var item in imgs)
                    {
                        <img src="~/Content/advertise_images/@item" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Plugins/JS Image Slider/js-image-slider.js"></script>

    <script type="text/javascript">
        function show_details(id, elem) {
            $(elem).html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
            var postData = { "id": id};
            $.ajax({
                type: 'POST',
                url: "/Advertise/AddvertiseGetContact",
                dataType: 'json',
                data: postData,
                success: function (data) {
                    $("#phone").html(turn2PersianNumber(data.Phone));
                    $("#email").html(data.Email);
                    $(elem).hide('slow');
                },
                error: function(){
                    alert('خطا در دریافت اطلاعات');
                    $(elem).html('مشاهده مشخصات').removeAttr('disabled');
                },
            });
        }
    </script>
}
