@{
    ViewBag.Title = "مشاورین مسکن امیر";
    List<Amirhome.Models.province> prv = ViewData["Province"] as List<Amirhome.Models.province>;
}

@{
    if (ViewBag.SucsMsg != null)
    {
        <div class="sys-msg">
            @ViewBag.SucsMsg
        </div>
    }
}

<div class="banner">
    <div class="banner-content">
        <h1>مشاورین املاک امیر</h1>
        <div class="row banner-panel">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>جستجوی ملک</h2>
                        <p style="margin:0;">(برای خرید یا اجاره)</p>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    <select id="states">
                                        <option value="0">استان</option>
                                        @foreach (var item in prv)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select id="city">
                                        <option value="0">شهر</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="district">
                                        <option value="0">محله</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="condition">
                                        <option value="0">نوع واگذاری</option>
                                        <option value="1">فروش</option>
                                        <option value="2">رهن</option>
                                        <option value="3">اجاره</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="usage">
                                        <option value="0">نوع کاربری ملک</option>
                                        <option value="1">مسکونی</option>
                                        <option value="2">کلنگی و مشارکتی</option>
                                        <option value="3">تجاری و اداری</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="type">
                                        <option value="0">نوع ملک</option>
                                        <option value="1">آپارتمان</option>
                                        <option value="2">ویلا</option>
                                        <option value="8">سوئیت</option>
                                        <option value="9">سایر</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align:center;">
                                    <button id="search_estate" style="min-width:100px;" type="button" class="btn btn-primary">جستجو</button>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>سپردن ملک</h2>
                        <p style="margin:0;">(برای خرید یا اجاره)</p>
                    </div>
                    <div class="panel-body">
                        <div class="submit-note">
                            شما می توانید با ثبت ملک خود در وبسایت مشاورین املاک مسکن امیر از بسیاری از تسهیلات این بنگاه بهره مند شوید. کافیست اطلاعات ملک خود را ثبت نمایید تا مشاورین ما در اولین فرصت با شما ارتباط برقرار نمایند.
                        </div>
                        <div class="text-center">
                            <input style="min-width:100px;" id="submit_estate" type="button" class="btn btn-primary" value="سپردن ملک" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<section id="occasion" class="slider fade-animate">
    <h1 class="text-center" style="color:#00578f; font-weight:bold; margin-bottom:30px;">ویژه های مسکن</h1>
    <div class="occasion row" style="margin:20px 20px 0 20px;">
        <div class="text-center">
            <img src="~/Content/shared_images/loading.gif" />
            <h4>در حال بارگذاری</h4>
        </div>
    </div>
    <div class="row text-center" style="margin-bottom:20px;">
        <a href='@Url.Action("ShowOccasions", "Estate")' class="btn btn-primary text-center" style="font-size:larger">مشاهده موارد بیشتر</a>
    </div>
</section>

<section id="about" class="about-section">
    <div class="about-banner"></div>
</section>

<section id="addvertise" class="addvertise-section fade-animate">
    @Html.Partial("AdvertisePartialView", ViewData["adverModel"])
</section>

@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <script type="text/javascript">
    function getOccasionsFromServer() {
        $.ajax({
            url: '@Url.Action("GetOccasionEstates", "Home")',
            method: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                createOccasionSection(data);
            },
            error: function () {

            },
        });
    }

    function createOccasionSection(data) {
        var htmls = [];
        $(".occasion.row").html("");
        for (var i = 0 ; i < data.length ; i++) {
            //Create Basic Elements
            var $div = $("<div>").addClass("col-md-3").css('display', 'none');
            var $a = $("<a>").attr('href', '/Estate/EstateDetails?EstateID=' + data[i].ID);
            var $panel = $("<div>").addClass("panel panel-success");

            //Panel Heading Initialize
            var $panel_heading = $("<div>").addClass("panel-heading");
            var $heading_label = $("<label>").html(data[i].Condition + ' - ' + turn2PersianNumber(data[i].Area) + ' متری');
            var $heading_header = $("<h3>").html(data[i].Address).css('white-space', 'nowrap');
            $panel_heading.append($heading_label).append($heading_header);

            //Panel Body Initialize
            var $panel_body = $("<div>").addClass("panel-body");
            var $body_occ_desc = $("<div>").addClass("occasion-desc");
            var $occ_desc_p = $("<p>").html(data[i].Occasion);
            $body_occ_desc.append($occ_desc_p);
            var $body_image = $("<img>").attr("src", "/Content/estate_images/" + data[i].ImageSrc);
            var $body_img_count = $("<div>").addClass("img-count").html(turn2PersianNumber(data[i].ImageCount) + ' عکس');
            $panel_body.append($body_occ_desc).append($body_image).append($body_img_count);

            //Panel Footer Initialize
            var $panel_footer = $("<div>").addClass("panel-footer");
            var $footer_main_price = $("<p>").addClass("main-price");
            var $footer_second_price = $("<p>").addClass("second-price");
            var $footer_date = $("<p>").addClass("date").html(convertToJalaliDate(data[i].Date));
            switch (data[i].Condition) {
                case 'فروش': $footer_main_price.html('قیمت کل: ' + numberWithCommas(data[i].TotalPrice)); $footer_second_price.html("&nbsp;"); break;
                case 'رهن': $footer_main_price.html('قیمت رهن: ' + numberWithCommas(data[i].Prepayment)); $footer_second_price.html("&nbsp;"); break;
                case 'اجاره': $footer_main_price.html('پیش پرداخت: ' + numberWithCommas(data[i].Prepayment)); $footer_second_price.html('ماهیانه: ' + numberWithCommas(data[i].Mortage)); break;
            }
            $panel_footer.append($footer_main_price).append($footer_second_price).append($footer_date);

            //Finilizing and Fading the content
            $panel.append($panel_heading).append($panel_body).append($panel_footer);
            $a.append($panel);
            $div.append($a);
            $div.appendTo(".occasion.row").show('slow');
        }
        $(".occasion .panel").hover(function () {
            $(this).find('.occasion-desc').fadeIn(450);
        }, function () {
            $(this).find('.occasion-desc').fadeOut(450);
        });
    }

    $(document).ready(function () {
        //attach banner image to banner section
        $(".banner").backstretch(['@Url.Content("~/Content/banner_images/bg1.jpg")', '@Url.Content("~/Content/banner_images/bg2.jpg")', '@Url.Content("~/Content/banner_images/bg3.jpg")'], { fade: 550, duration: 4000 });
        $(".banner-panel").fadeIn(550);
        //attach plane image to plane section
        $(".about-banner").backstretch('@Url.Content("~/Content/banner_images/pelan.jpg")');

        $("#search_estate").click(function () {
            if ($("#condition").val() === '0') {
                $("#s2id_condition > a").css('border', '2px solid #FF7C7C');
                return false;
            }
            if ($("#usage").val() === '0') {
                $("#s2id_usage > a").css('border', '2px solid #FF7C7C');
                return false;
            }
            var cond = $("#condition").val(),
                use = $("#usage").val();
            var query_str = "?cond=" + cond + "&use=" + use;
            if ($("#states").val() !== '0')
                query_str += "&state=" + $("#states").val();
            if ($("#city").val() !== '0')
                query_str += "&city=" + $("#city").val();
            if ($("#district").val() !== '0')
                query_str += "&district=" + $("#district").val();
            if ($("#type").val() !== '0')
                query_str += "&type=" + $("#type").val();
            window.location = "/Estate/SearchPage" + query_str;
        });
        $("#submit_estate").click(function () {
            /*if ($("#condition").val() === '0') {
                $("#condition").css('background-color', '#FF7C7C');
                return false;
            }
            if ($("#usage").val() === '0') {
                $("#usage").css('background-color', '#FF7C7C');
                return false;
            }
            var cond = $("#condition").val(),
                use = $("#usage").val();*/
            window.location = "/Estate/SubmitEstate";
        });


        $("#states").change(function () {
            $("#search_estate").html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
            $.ajax({
                url: '/Estate/fetchCities',
                method: 'POST',
                dataType: 'json',
                data: JSON.stringify({ "p_id": $(this).val() }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#city").html('<option value="0">شهر</option>');
                    for (var i = 0 ; i < data.length ; i++) {
                        $("#city").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }
                    $("#search_estate").html('جستجو').removeAttr('disabled');
                },
                error: function () {
                    $("#search_estate").html('جستجو').removeAttr('disabled');
                },
            });
        });

        $("#city").change(function () {
            if ($(this).val() === '118') {
                $("#search_estate").html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
                $.ajax({
                    url: '/Estate/fetchDistricts',
                    method: 'POST',
                    dataType: 'json',
                    data: '',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#district").html('<option value="0">محله</option>');
                        for (var i = 0 ; i < data.length ; i++) {
                            $("#district").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                        $("#search_estate").html('جستجو').removeAttr('disabled');
                    },
                    error: function () {
                        $("#search_estate").html('جستجو').removeAttr('disabled');
                    },
                });
            }
            else {
                $("#district").html('<option value="0">محله</option>');
            }
        });

            //Occasion Section
        getOccasionsFromServer();

    });

    $(window).on("load", function () {
        $(window).scroll(function () {
            $(".fade-animate").each(function () {
                /* Check the location of each desired element */
                var objectBottom = $(this).offset().top + $(this).outerHeight();
                var windowBottom = $(window).scrollTop() + $(window).innerHeight();

                /* If the element is completely within bounds of the window, fade it in */
                if (objectBottom - 200 < windowBottom) { //object comes into view (scrolling down)
                    if ($(this).css("opacity") == 0) { $(this).fadeTo(500, 1); }
                }
            });
        }); $(window).scroll(); //invoke scroll-handler on page-load
    });

    </script>
}